@font-face {
  font-family: 'icomoon';
  src:    url('/fonts/icomoon.eot?he9yiv');
  src:    url('/fonts/icomoon.eot?he9yiv#iefix') format('embedded-opentype'),
      url('/fonts/icomoon.ttf?he9yiv') format('truetype'),
      url('/fonts/icomoon.woff?he9yiv') format('woff'),
      url('/fonts/icomoon.svg?he9yiv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}




body {
  margin: 0;
  padding: 0;
  color: #768ea3;
  font-family: sans-serif;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}



.boxed {
  border: 1px solid green;
}

.box-data {
  margin-top: 25px;
  font-size: 13px;
}

.box-yellow .box-content {
  background: #00abdf;
}

.box-data .box-content {
  color: #fff;
  padding: 10px;
  position: relative;
  height: 160px;
  min-width: 232px;
  cursor: pointer;
}

.box-data .box-data-title {
  font-size: 15px;
  font-weight: 500;
}

.box-data a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none
}

.line-left {
  position: relative;
  margin-left: 10px;
  border-left: 1px solid #768ea3;
}

.row {
  margin-left: -10px;
  margin-right: -10px;
}

.indicador {
  margin-left: -10px;
  margin-right: -10px;
  margin-right: 10px;
}

.bajovalor {
  color: #e02c2f !important;
}

.collapse-resumen {
  margin-left: 25px;
}

.collapse-head {
  border-top: 1px solid #a4b5c4;
  padding: 20px 0;
}

.zone-circle {
  font-size: 1.2em;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 3.2;
  color: #768ea3;
  border: 1px solid #768ea3;
  cursor: pointer;
}

.zone-circle:hover, .zone-circle.active {
  text-decoration: none;
  background-color: #5c758a;
  border: 1px solid #5c758a;
  color: #fff;
}

.mb-10 {
  margin-bottom: 10px;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 21px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

pre code, table {
  background-color: transparent;
}

.table-responsive {
  border: none !important;
  overflow: hidden;
  overflow-x: auto;
  min-height: .01%;
}

.box-detail-content-head-content {
  margin-left: 150px;
  margin-right: 30px;
}

.box-detail-content-head {
  position: absolute;
  left: 120px;
  min-width: 125px;
  white-space: nowrap;
}

.table-controls {
  position: relative;
  position: absolute;
  left: 0;
  right: 0;
  font-size: 2.3em;
  z-index: 99;
  top: 17px;
  cursor: pointer;
}

.text-yellow {
  color: #f8bf17 !important;
}

.box-detalle-head {
  position: absolute;
  left: 10px;
  margin-top: 20px;
  min-width: 105px;
}
.text-right {
  text-align: right;
}

.mt-40 {
  margin-top: 40px;
}

.text-right {
  text-align: right;
}
h5 {
  font-size: 15px;
}

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 10px;
  color: #768ea3;
}
.h5, h5 {
  font-size: 15px;
}
.h4, .h5, .h6, h4, h5, h6 {
  margin-top: 10.5px;
  margin-bottom: 10.5px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 400;
  line-height: 1.1;
  color: #5c758a;
}

.lateral {
  padding-left: 280px;
}